# AI-Lab: 10
### Rollnumber: BSDS-f24-015
### Name: M.Awais

<div>
    Import <b>Libraries</b>
</div>

In [43]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

<div>
    Data <b>Loading</b>
</div>

In [44]:
df = pd.read_csv("data.csv")

<div>
    Data <b>Exploring</b>
</div>

In [45]:
df.head()

,CO2_ppm,Humidity_%,Region,Season,Pressure_hPa,WindSpeed_km_h,PollutionIndex,Temperature_C,HeatIndex,Rainfall_mm
0,406.18,38.32,South,Autumn,989.36,1.55,184.44,20.46,26.84,22.45
1,492.61,37.29,North,Winter,997.34,7.47,114.56,23.55,30.34,79.45
2,459.80,83.44,West,Spring,1035.45,33.25,150.48,19.91,32.42,73.96
3,439.80,37.47,North,Winter,984.00,30.67,98.49,18.42,23.00,83.14
4,373.40,39.04,East,Summer,1036.96,14.03,133.41,20.14,25.69,39.11

In [46]:
df.tail()

,CO2_ppm,Humidity_%,Region,Season,Pressure_hPa,WindSpeed_km_h,PollutionIndex,Temperature_C,HeatIndex,Rainfall_mm
1995,448.54,50.95,West,Summer,1007.97,20.60,84.70,21.41,27.55,16.98
1996,493.49,43.41,East,Summer,1016.70,6.61,186.81,24.51,33.47,34.78
1997,360.34,47.62,South,Summer,1041.16,39.11,145.76,14.15,20.85,1.45
1998,358.56,57.10,South,Winter,984.56,4.32,66.29,18.41,31.23,63.21
1999,392.33,31.30,North,Spring,1012.15,37.28,121.54,16.45,19.40,55.15

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CO2_ppm         2000 non-null   float64
 1   Humidity_%      2000 non-null   float64
 2   Region          2000 non-null   object
 3   Season          2000 non-null   object
 4   Pressure_hPa    2000 non-null   float64
 5   WindSpeed_km_h  2000 non-null   float64
 6   PollutionIndex  2000 non-null   float64
 7   Temperature_C   2000 non-null   float64
 8   HeatIndex       2000 non-null   float64
 9   Rainfall_mm     2000 non-null   float64
dtypes: float64(8), object(2)
memory usage: 156.4+ KB

In [48]:
df.count()

CO2_ppm           2000
Humidity_%        2000
Region            2000
Season            2000
Pressure_hPa      2000
WindSpeed_km_h    2000
PollutionIndex    2000
Temperature_C     2000
HeatIndex         2000
Rainfall_mm       2000
dtype: int64

In [49]:
df.describe()

,CO2_ppm,Humidity_%,Pressure_hPa,WindSpeed_km_h,PollutionIndex,Temperature_C,HeatIndex,Rainfall_mm
count,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000
mean,424.795535,54.747320,999.58869,19.377215,110.223710,19.672140,28.707245,54.50550
std,43.831587,20.200516,28.94024,11.340436,51.169574,2.138357,4.793949,26.41271
min,350.480000,20.000000,950.14000,0.010000,20.010000,12.360000,12.300000,-16.04000
25%,385.710000,37.552500,974.45250,9.677500,66.205000,18.240000,25.180000,35.40250
50%,426.105000,54.490000,998.62000,19.275000,110.195000,19.765000,28.720000,54.51000
75%,462.600000,72.412500,1025.15000,28.600000,154.410000,21.132500,32.170000,73.61500
max,499.960000,89.970000,1049.95000,39.960000,199.940000,25.670000,43.150000,125.74000

In [50]:
df.shape
print(f"Number of Rows: {df.shape[0]} and Number of Columns: {df.shape[1]}")

Number of Rows: 2000 and Number of Columns: 10

In [51]:
df.columns

Index(['CO2_ppm', 'Humidity_%', 'Region', 'Season', 'Pressure_hPa',
       'WindSpeed_km_h', 'PollutionIndex', 'Temperature_C', 'HeatIndex',
       'Rainfall_mm'],
      dtype='object')

In [52]:
df["Region"].unique()

array(['South', 'North', 'West', 'East'], dtype=object)

In [53]:
df.nunique()

CO2_ppm           1874
Humidity_%        1718
Region               4
Season               4
Pressure_hPa      1807
WindSpeed_km_h    1594
PollutionIndex    1901
Temperature_C      778
HeatIndex         1208
Rainfall_mm       1828
dtype: int64

In [54]:
df.isnull().sum()

CO2_ppm           0
Humidity_%        0
Region            0
Season            0
Pressure_hPa      0
WindSpeed_km_h    0
PollutionIndex    0
Temperature_C     0
HeatIndex         0
Rainfall_mm       0
dtype: int64

<div>
    Data <b>Pre-Processing</b>
</div>

**Manage Null Values**

In [55]:
df.isnull()

,CO2_ppm,Humidity_%,Region,Season,Pressure_hPa,WindSpeed_km_h,PollutionIndex,Temperature_C,HeatIndex,Rainfall_mm
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
1995,False,False,False,False,False,False,False,False,False,False
1996,False,False,False,False,False,False,False,False,False,False
1997,False,False,False,False,False,False,False,False,False,False
1998,False,False,False,False,False,False,False,False,False,False
1999,False,False,False,False,False,False,False,False,False,False

In [56]:
df.isnull().sum()

CO2_ppm           0
Humidity_%        0
Region            0
Season            0
Pressure_hPa      0
WindSpeed_km_h    0
PollutionIndex    0
Temperature_C     0
HeatIndex         0
Rainfall_mm       0
dtype: int64

<div >
<b>Manage Data Types</b>
</div>

Managing **Float**  Data type

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CO2_ppm         2000 non-null   float64
 1   Humidity_%      2000 non-null   float64
 2   Region          2000 non-null   object
 3   Season          2000 non-null   object
 4   Pressure_hPa    2000 non-null   float64
 5   WindSpeed_km_h  2000 non-null   float64
 6   PollutionIndex  2000 non-null   float64
 7   Temperature_C   2000 non-null   float64
 8   HeatIndex       2000 non-null   float64
 9   Rainfall_mm     2000 non-null   float64
dtypes: float64(8), object(2)
memory usage: 156.4+ KB

In [58]:
df.columns

Index(['CO2_ppm', 'Humidity_%', 'Region', 'Season', 'Pressure_hPa',
       'WindSpeed_km_h', 'PollutionIndex', 'Temperature_C', 'HeatIndex',
       'Rainfall_mm'],
      dtype='object')

In [59]:
columns = ['CO2_ppm', 'Humidity_%','Pressure_hPa',
       'WindSpeed_km_h', 'PollutionIndex', 'Temperature_C', 'HeatIndex',
       'Rainfall_mm']
df[columns] = df[columns].astype('int64')

In [60]:
df.dtypes

CO2_ppm            int64
Humidity_%         int64
Region            object
Season            object
Pressure_hPa       int64
WindSpeed_km_h     int64
PollutionIndex     int64
Temperature_C      int64
HeatIndex          int64
Rainfall_mm        int64
dtype: object

Managing **Object**  Data type

In [63]:
def convert_obj_into_int(columns):
    for i in columns:
        data = pd.DataFrame({i: df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(data))
        df[i] = data_LE.transform(df[i])

columns = ['Region', 'Season']
convert_obj_into_int(columns)

In [65]:
df.dtypes

CO2_ppm           int64
Humidity_%        int64
Region            int64
Season            int64
Pressure_hPa      int64
WindSpeed_km_h    int64
PollutionIndex    int64
Temperature_C     int64
HeatIndex         int64
Rainfall_mm       int64
dtype: object

In [66]:
df.sample(3)

,CO2_ppm,Humidity_%,Region,Season,Pressure_hPa,WindSpeed_km_h,PollutionIndex,Temperature_C,HeatIndex,Rainfall_mm
598,378,39,3,3,1016,39,63,14,18,55
334,356,28,0,3,1046,14,89,19,21,58
1194,356,44,0,3,1019,15,60,20,29,79