# AI-Lab: 11
### Rollnumber: BSDS-f24-015
### Name: M.Awais

<div>
    Import <b>Libraries</b>
</div>

In [153]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.metrics import r2_score
import pickle

<div>
    Data <b>Loading</b>
</div>

In [154]:
df = pd.read_csv("data.csv")

<div>
    Data <b>Exploring</b>
</div>

In [155]:
df.head()

,CO2_ppm,Humidity_%,Region,Season,Pressure_hPa,WindSpeed_km_h,PollutionIndex,Temperature_C,HeatIndex,Rainfall_mm
0,406.18,38.32,South,Autumn,989.36,1.55,184.44,20.46,26.84,22.45
1,492.61,37.29,North,Winter,997.34,7.47,114.56,23.55,30.34,79.45
2,459.80,83.44,West,Spring,1035.45,33.25,150.48,19.91,32.42,73.96
3,439.80,37.47,North,Winter,984.00,30.67,98.49,18.42,23.00,83.14
4,373.40,39.04,East,Summer,1036.96,14.03,133.41,20.14,25.69,39.11

In [156]:
df.tail()

,CO2_ppm,Humidity_%,Region,Season,Pressure_hPa,WindSpeed_km_h,PollutionIndex,Temperature_C,HeatIndex,Rainfall_mm
1995,448.54,50.95,West,Summer,1007.97,20.60,84.70,21.41,27.55,16.98
1996,493.49,43.41,East,Summer,1016.70,6.61,186.81,24.51,33.47,34.78
1997,360.34,47.62,South,Summer,1041.16,39.11,145.76,14.15,20.85,1.45
1998,358.56,57.10,South,Winter,984.56,4.32,66.29,18.41,31.23,63.21
1999,392.33,31.30,North,Spring,1012.15,37.28,121.54,16.45,19.40,55.15

In [157]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CO2_ppm         2000 non-null   float64
 1   Humidity_%      2000 non-null   float64
 2   Region          2000 non-null   object
 3   Season          2000 non-null   object
 4   Pressure_hPa    2000 non-null   float64
 5   WindSpeed_km_h  2000 non-null   float64
 6   PollutionIndex  2000 non-null   float64
 7   Temperature_C   2000 non-null   float64
 8   HeatIndex       2000 non-null   float64
 9   Rainfall_mm     2000 non-null   float64
dtypes: float64(8), object(2)
memory usage: 156.4+ KB

In [158]:
df.count()

CO2_ppm           2000
Humidity_%        2000
Region            2000
Season            2000
Pressure_hPa      2000
WindSpeed_km_h    2000
PollutionIndex    2000
Temperature_C     2000
HeatIndex         2000
Rainfall_mm       2000
dtype: int64

In [159]:
df.describe()

,CO2_ppm,Humidity_%,Pressure_hPa,WindSpeed_km_h,PollutionIndex,Temperature_C,HeatIndex,Rainfall_mm
count,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000
mean,424.795535,54.747320,999.58869,19.377215,110.223710,19.672140,28.707245,54.50550
std,43.831587,20.200516,28.94024,11.340436,51.169574,2.138357,4.793949,26.41271
min,350.480000,20.000000,950.14000,0.010000,20.010000,12.360000,12.300000,-16.04000
25%,385.710000,37.552500,974.45250,9.677500,66.205000,18.240000,25.180000,35.40250
50%,426.105000,54.490000,998.62000,19.275000,110.195000,19.765000,28.720000,54.51000
75%,462.600000,72.412500,1025.15000,28.600000,154.410000,21.132500,32.170000,73.61500
max,499.960000,89.970000,1049.95000,39.960000,199.940000,25.670000,43.150000,125.74000

In [160]:
df.shape
print(f"Number of Rows: {df.shape[0]} and Number of Columns: {df.shape[1]}")

Number of Rows: 2000 and Number of Columns: 10

In [161]:
df.columns

Index(['CO2_ppm', 'Humidity_%', 'Region', 'Season', 'Pressure_hPa',
       'WindSpeed_km_h', 'PollutionIndex', 'Temperature_C', 'HeatIndex',
       'Rainfall_mm'],
      dtype='object')

In [162]:
df["Region"].unique()

array(['South', 'North', 'West', 'East'], dtype=object)

In [163]:
df.nunique()

CO2_ppm           1874
Humidity_%        1718
Region               4
Season               4
Pressure_hPa      1807
WindSpeed_km_h    1594
PollutionIndex    1901
Temperature_C      778
HeatIndex         1208
Rainfall_mm       1828
dtype: int64

In [164]:
df.isnull().sum()

CO2_ppm           0
Humidity_%        0
Region            0
Season            0
Pressure_hPa      0
WindSpeed_km_h    0
PollutionIndex    0
Temperature_C     0
HeatIndex         0
Rainfall_mm       0
dtype: int64

<div>
    Data <b>Pre-Processing</b>
</div>

**Manage Null Values**

In [165]:
df.isnull()

,CO2_ppm,Humidity_%,Region,Season,Pressure_hPa,WindSpeed_km_h,PollutionIndex,Temperature_C,HeatIndex,Rainfall_mm
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
1995,False,False,False,False,False,False,False,False,False,False
1996,False,False,False,False,False,False,False,False,False,False
1997,False,False,False,False,False,False,False,False,False,False
1998,False,False,False,False,False,False,False,False,False,False
1999,False,False,False,False,False,False,False,False,False,False

In [166]:
df.isnull().sum()

CO2_ppm           0
Humidity_%        0
Region            0
Season            0
Pressure_hPa      0
WindSpeed_km_h    0
PollutionIndex    0
Temperature_C     0
HeatIndex         0
Rainfall_mm       0
dtype: int64

<div >
<b>Manage Data Types</b>
</div>

Managing **Float**  Data type

In [167]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CO2_ppm         2000 non-null   float64
 1   Humidity_%      2000 non-null   float64
 2   Region          2000 non-null   object
 3   Season          2000 non-null   object
 4   Pressure_hPa    2000 non-null   float64
 5   WindSpeed_km_h  2000 non-null   float64
 6   PollutionIndex  2000 non-null   float64
 7   Temperature_C   2000 non-null   float64
 8   HeatIndex       2000 non-null   float64
 9   Rainfall_mm     2000 non-null   float64
dtypes: float64(8), object(2)
memory usage: 156.4+ KB

In [168]:
df.columns

Index(['CO2_ppm', 'Humidity_%', 'Region', 'Season', 'Pressure_hPa',
       'WindSpeed_km_h', 'PollutionIndex', 'Temperature_C', 'HeatIndex',
       'Rainfall_mm'],
      dtype='object')

In [169]:
columns = ['CO2_ppm', 'Humidity_%','Pressure_hPa',
       'WindSpeed_km_h', 'PollutionIndex', 'Temperature_C', 'HeatIndex',
       'Rainfall_mm']
df[columns] = df[columns].astype('int64')

In [170]:
df.dtypes

CO2_ppm            int64
Humidity_%         int64
Region            object
Season            object
Pressure_hPa       int64
WindSpeed_km_h     int64
PollutionIndex     int64
Temperature_C      int64
HeatIndex          int64
Rainfall_mm        int64
dtype: object

Managing **Object**  Data type

In [171]:
def convert_obj_into_int(columns):
    for i in columns:
        data = pd.DataFrame({i: df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(data))
        df[i] = data_LE.transform(df[i])

columns = ['Region', 'Season']
convert_obj_into_int(columns)

In [172]:
df.dtypes

CO2_ppm           int64
Humidity_%        int64
Region            int64
Season            int64
Pressure_hPa      int64
WindSpeed_km_h    int64
PollutionIndex    int64
Temperature_C     int64
HeatIndex         int64
Rainfall_mm       int64
dtype: object

In [173]:
df.sample(3)

,CO2_ppm,Humidity_%,Region,Season,Pressure_hPa,WindSpeed_km_h,PollutionIndex,Temperature_C,HeatIndex,Rainfall_mm
43,486,28,3,1,1016,6,66,22,27,28
478,495,28,1,0,1026,34,70,20,22,55
1891,410,57,2,3,1040,33,36,18,27,52

**Train** - **Test Splitting**

In [174]:
df.columns

Index(['CO2_ppm', 'Humidity_%', 'Region', 'Season', 'Pressure_hPa',
       'WindSpeed_km_h', 'PollutionIndex', 'Temperature_C', 'HeatIndex',
       'Rainfall_mm'],
      dtype='object')

In [175]:
x = df.drop('Temperature_C',axis=1)
y = df['Temperature_C']

In [176]:
train_X, test_X, train_y, test_y = train_test_split(x, y, test_size=0.2, shuffle=False)

In [177]:
print(train_X.shape, train_y.shape)
print(test_X.shape, test_y.shape)

(1600, 9) (1600,)
(400, 9) (400,)

**Model Training**

In [178]:
model_svr = SVR()
model_svr.fit(train_X, train_y)

print(model_svr)

SVR()

In [179]:
pred_svr = model_svr.predict(test_X)
print(pred_svr)

[18.28296325 18.31018509 18.15624549 19.30962325 17.84476989 19.31158976
 17.30532469 20.66410818 18.18997209 18.83344261 20.69186647 19.72153648
 18.77829908 18.54967493 18.7131238  19.69483502 20.55316113 19.98888336
 19.54276357 20.45173779 18.42364728 17.99481676 19.56272253 20.48886088
 18.82356223 19.84115888 18.76798713 18.9465036  17.76440906 18.90727785
 19.87800022 19.03363627 20.15325999 20.33887116 21.0495547  18.10333034
 18.47920863 18.32975749 20.86042465 20.64511334 19.29650982 20.4754686
 19.48437555 20.12210169 17.46714702 20.17628089 18.22093359 20.93723718
 20.17784149 20.08895297 17.68741163 18.86053629 18.4981278  18.75600537
 18.02436923 21.02751841 19.34315093 18.70234011 18.91646238 18.47001182
 19.66613798 19.22310055 21.31490132 19.50433953 21.01635399 20.39512192
 17.71747607 21.17371409 18.22127495 19.88232823 18.67001179 21.06266768
 20.25776369 20.48419739 20.22913109 18.95296661 18.37096943 18.67890597
 17.82041466 20.18076834 18.979879   20.83792049 19.90128484 20.35867458
 18.03282849 20.14071975 20.56826107 19.40412145 20.1019278  20.40425727
 18.1207127  18.87041766 19.08025224 18.49530442 18.90697515 18.04232107
 17.14321139 17.73885359 20.78188363 19.35003426 20.33398736 18.65817006
 18.64641746 19.33957656 18.8595765  17.72950104 19.61125052 18.34898092
 20.18881518 19.36018706 17.79857445 17.61727035 20.18464266 19.23233126
 17.33126325 20.58719904 17.53639364 19.83460312 20.37599983 18.28516764
 18.31348904 17.28242289 18.66969513 18.16044968 19.73408022 17.12093886
 19.41523159 21.20750907 20.64247794 19.88648472 18.91452872 19.22289546
 19.74539324 18.94668042 17.99178635 20.1089163  19.30301816 18.18875117
 18.83446843 18.86103395 19.9101675  19.91600387 20.01927925 18.19333008
 19.1173462  19.49580725 17.90940105 18.68471224 20.65908267 17.90681835
 18.95832025 18.33023774 17.744297   18.39822061 20.31236681 20.14817338
 21.19608053 19.5193897  18.22976257 19.22098489 19.45995269 20.03151251
 17.73637999 18.82068085 18.45007961 18.6049428  19.95191369 19.35184785
 19.15165833 19.28113849 19.08417427 20.31944238 20.61050394 20.51401767
 19.69822676 18.45986362 19.38975912 19.24867804 18.3271362  20.12874506
 17.99599054 20.39203432 19.60189186 19.3713404  19.68955277 20.81320164
 19.71785167 19.38680634 18.41974873 18.85944296 17.97778799 20.51499692
 19.56554694 19.41056934 17.80051601 17.60867311 20.36798068 17.79352473
 18.11856962 17.36862265 20.517338   19.99667673 18.32784137 17.96789715
 18.7368441  19.64960425 19.88134011 17.90605433 18.67156049 18.28943936
 20.04563423 20.14078128 17.9870419  17.84732469 17.82299543 20.56135976
 18.50572936 20.29367814 19.46014818 19.02495133 18.56948951 17.43599169
 20.04048435 20.68015207 19.48621428 19.74743016 17.30750567 21.02691127
 20.37112206 18.79823741 21.14234702 19.23709618 19.13927617 20.16059356
 20.0626127  20.25179323 17.66146351 18.89129247 20.08955105 18.71688517
 18.92430989 18.78907579 19.16385121 19.10786197 21.32589885 18.0390699
 17.28154972 18.10036975 20.64543808 20.0179861  18.06611464 20.6149225
 20.96555937 20.2280714  20.36015523 18.81614913 20.48947493 19.25323739
 20.62793935 19.85224173 19.96540709 19.52740532 17.88648982 19.25009799
 21.39294056 20.69043873 17.59229934 17.84203577 17.75672677 20.43640759
 19.93632285 18.55524625 19.34062331 20.55449904 20.12953166 19.63401212
 19.89785125 19.12578898 18.57288667 19.85856389 19.88004611 20.23143967
 19.72504021 20.40652055 17.7103303  18.91156537 16.92330212 18.03110283
 20.06852375 21.18941601 17.94766571 18.60897623 20.00620913 18.15464884
 19.72798571 20.23093479 19.94094708 17.65532924 18.83630866 19.62049704
 19.50472555 17.10433964 19.58452484 17.57541763 19.76482551 17.93847857
 20.59937514 18.80089543 18.76763    17.60143333 18.37751817 20.61389719
 20.68128179 18.79829971 19.19255496 19.83776431 20.27971747 19.44967259
 18.85087191 18.61509718 19.84229454 17.77980995 19.22973225 18.44122484
 20.39277557 17.70160483 19.47483063 19.35222817 20.01097392 17.6075347
 19.39307134 19.61978256 19.56146881 19.53257692 19.94093367 20.06124039
 18.81403702 20.19416054 19.34449479 17.74311462 17.70621645 18.68889828
 20.12594643 19.4432683  20.56825731 19.30414734 18.43947327 17.60147807
 19.05820263 19.02724869 18.21384536 17.91093194 19.66288362 19.85935707
 21.39005765 20.75555972 19.3640529  18.79918238 19.90389814 20.36821353
 17.95721519 18.90165465 20.78695383 19.15545772 19.68090526 19.01215471
 18.15924878 18.76245903 18.63840461 17.87727684 17.51919977 20.41299257
 18.48272641 19.53033186 18.70140918 20.45225559 18.75839449 18.95538495
 20.69887963 20.45695005 17.64050327 20.05443587 19.3044333  19.28618002
 18.27057586 17.28331208 20.1238484  18.77453271 18.80466393 19.63358944
 20.73551869 18.36459529 19.60434925 18.04733718 20.49560185 19.78996238
 21.34468811 17.5826532  17.85411263 18.29236878]

In [180]:
# Predictions
pred_svr = model_svr.predict(test_X)

# R² Score as percentage
r2_percentage = round(r2_score(test_y, pred_svr) * 100, 2)
print(f"Model R²: {r2_percentage} %")

Model R²: 46.87 %

**Model Saving** and **Model Loading**

In [181]:
pickle.dump(model_svr, open('model_svr.pkl', 'wb'))   # Model Saving

In [182]:
model_svr = pickle.load(open('model_svr.pkl', 'rb'))  # Model Loading